:root{
    --titulo: 'Pacifico', 'Bigilla' ,'Montserrat', serif;
    --texto-importante: 'Bigilla', sans-serif;
    --texto-normal:'Montserrat', serif;
    --color-principal:rgb(204, 49, 49);
    --color-secundario:white;

}