.sobre-nosotros__table-body{
    text-align: center;
    padding: 10px;
    margin: 5px;
    font-size: .9rem;
    text-transform: capitalize;
}

.sobre-nosotros__table-body tr:nth-child(odd){
    background-color: rgba(233, 173, 173,.5);
}

.sobre-nosotros__table-body tr:nth-child(even){
    background-color: rgba(204, 204, 204, .5)
}

.sobre-nosotros__table-body tr:hover{
    background-color: var(--color-principal);
    cursor: pointer;
    color: white;
}

.sobre-nosotros__table-body tr:nth-child(even):hover{
    background-color: var(--color-secundario);
    color: var(--color-principal);
}