.clasico{
    background: url('../../../img/clasico.jpg');
}

.boda{
    background: url('../../../img/boda.jpg');
}
.bautizo{
    background: url('../../../img/bautizo.jpg');
}
.rosa{
    background: url('../../../img/rosa.jpg');
}



.adornos__item-imagen{
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .8;
    border-radius: 5px;
    background-position: center;
}

@media screen and (max-width:768px) {
    .adornos__item-imagen{
        background-size: contain;
        padding-left: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
}