.formulario__indicaciones{
    font-family: var(--texto-importante);
    color: var(--color-principal);
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: -1px -1px 1px #000;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}