.formulario__caja-texto{
    width: 40%;
    outline: none;
    border-radius: 2px;
    border: none;
    padding: 3px;
    letter-spacing: 2px;
    transition: .5s all ease-in-out;
}

.formulario__caja-texto:focus{
    outline:var(--color-principal) solid 2px;
    outline-style:outset;
    transform: scale(1.02);
}

.formulario__nombre, .formulario__apellido, .formulario__telefono,.formulario__mensaje{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}