.pedido{
    /* background: linear-gradient(#fff,#ccc,var(--color-principal)); */
    background: url('../../../img/fondo-pastel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}