.adornos__item-container{
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .adornos__item-container{
        width: 35%;
    }
}

@media screen and (min-width:1024px) {
    .adornos__item-container{
        flex-direction: column;
        justify-content: space-between;
    }
}