.adornos__item-precio{
    font-family: var(--texto-importante);
    color: var(--color-principal);
    font-size: 1.5rem;
    text-align: right;
    letter-spacing: 2px;
}

@media screen and (max-width:480px) {
    .adornos__item-precio{
        font-size: .8rem;
    }
}