.sabor{
    width: 22%;
    box-shadow: 2px 2px 5px #888;
    background: var(--color-secundario);
    margin: 10px auto;
    height: 300px;
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


